<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="shortcut icon" href="../assets/student-logo.png">
    <title>Electronix'23 | About</title>
  </head>

  <body>
    <!-- Navbar -->

   <nav class="nav-container">
      <div class="logo-container">
        <a href="/"><img src="../assets/Global_logo.png" alt=""></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link">
          <a class="nav-link-a" href="../../home.html"><button class="button-nav">Home</button></a>
        </li>
        <li class="nav-link">
      <a class="nav-link-a" href="../views/events.html"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
           <a class="nav-link-a" href="../views/events.html"><button class="button-nav">Events</button></a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="../views/about.html"><button class="button-nav">About</button></a>
        </li>

        <li class="nav-link">
          <a class="nav-link-a" href="../views/contact"><button class="button-nav">Contact Us</button></a>
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>
    <div class="main-section-div">
      <section class="main-section">
        <div class="main-div">
          <h1>GLOBAL INSTITUTE OF ENGINEERING AND TECHNOLOGY</h1>
          <p>
            Global Institute of Engineering and Technology is a Prestigious and Premier Technical Institution offering standard and value based education to students pan India.
          </p>
          <br>
          <p>
            .Promoted by the renowned Prasad Educational Trust – GIT envisions offering quality education, on par with global standards and equipping its students to brace up the upfront job market challenges.Since 2009 with a humble student registration GIT has grown leaps and bounds with student strength of 2000+.
          </p>
          <br>
          <p>
            The college is administrated by team of academicians and professionals. The college administration is ably well-administered by Mr. RAM PRASAD as the Chairman and Mrs. Hema prasad Chairperson as the Correspondent. Dr. V Suhas Swaroop., the Director and Dr. S. Sengottaian., the Principal are guiding in all possible ways to make the college as one of the top class Institute in the country
          </p>
        </div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h1>ELECTRONICS AND COMMUNICATION DEPARTMENT</h1>
          <p>
            This is one of the most sought-after engineering courses in India after Computer science, Mechanical Engineering, and Electrical Engineering. Electronics and Communication Engineering involves designing, developing, and manufacturing electronic equipment (for devices and circuits) as well as communication systems.
			The course shares diverse areas from creative, interaction, embodiment designing to instrumentation, robotics, and automation. It covers basic engineering concepts and techniques like engineering mathematics, drawing, physics ,chemistry.

Electronics and Communication Engineering change lives, it makes life more efficient and this very thought can induce us to pursue this course. This undergraduate course encourages critical thinking and market research which are life-enhancing skills.
          </p>
        </div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h1>VISION</h1>
          <p>
            “To foster technical skills into budding technocrats and upgrade the rural youth develop technology by providing education of global standards and to uphold the social values and make the nation proud through globalization.”
          </p>
        </div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h1>MISSION</h1>
          <p>
		    To dedicate and commit ourselves to achieve, sustain and foster unmatched excellence in technical education by pursuing continuous development of infrastructure and enhancement in state-of-the-art equipments to provide our students a technologically up-to-date and intellectually inspiring environment of learning, research, creativity, innovation & professional activity and inculcate in them ethical and moral values.
		  </p>
        </div>
      </section>

      <section class="main-section">
        <div class="main-div">
          <h1>ECEGUST'23</h1>
          <p>
            Ecegust 2k23 a out-standing tradition with a national outreach. It
            is a platform where fun meets knowledge. We have technical events
            that tests your skills as an engineer and non-technical events that
            engages you throughout the day. We have about 4 technical and 3
            non-technical events and 4 fungames that will bring you to be
            passionate about being a Electronics Communication Engineer...!
          </p>
        </div>
      </section>
    </div>
    <footer>
			<div class="footer-div">
				<div class="footmenu">
					<a href="../../home.html">Home</a>
					<a href="../views/events.html">Events</a>
					<a href="../views/about.html">About</a>
					<a href="../views/gallery.html">Gallery</a>
					<a href="../views/contact.html">Contact&nbsp;Us</a>
				</div>
				<div class="socials">
					<a target="_blank" href="https://www.instagram.com/_the_electronics_emporium/">
						<img src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png">
					</a>
				</div>
				<p>© Electronix'23 - ALL RIGHTS RESERVED</p>
			</div>
		</footer>
    <script src="../public/js/nav.js"></script>
  

</body></html>