<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="shortcut icon" href="../assets/student-logo.png">
    <title>Electronix'23 | Contact</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/"><img src="../assets/Global_logo.png" alt=""></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link">
          <a class="nav-link-a" href="../../home.html"><button class="button-nav">Home</button></a>
        </li>
        <li class="nav-link">
      <a class="nav-link-a" href="../views/events.html"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
           <a class="nav-link-a" href="../views/events.html"><button class="button-nav">Events</button></a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="../views/about.html"><button class="button-nav">About</button></a>
        </li>

        <li class="nav-link">
          <a class="nav-link-a" href="../views/contact"><button class="button-nav">Contact Us</button></a>
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="containerSection">
      <div class="shadowConatainer"></div>
      <div class="containerDiv">
        <div class="left-side-contact side-contact">
          <div class="contact-left">
            <h1>Contact Info</h1>
            <br>
            <div class="call-section">
              <img src="https://img.icons8.com/dotty/35/102c2c/phone.png">
              <a href="linkrel=" shortcut="" icon"="">+91-9384949866 (Adithya)</a> <br>
            </div>
            <div class="call-section">
              <img src="https://img.icons8.com/dotty/35/102c2c/phone.png">
              <a href="linkrel=" shortcut="" icon"="">+91-9566059602 (MOHAMMED IMRAN)</a> <br>
            </div>
            <div class="call-section" style="padding-top: 15px">
              <img src="https://img.icons8.com/ios/25/102c2c/new-post.png">
              <a style="padding-left: 10px" href="mailto:elektronix2k23@gmail.com">elektronix2k23@gmail.com</a>
              <br>
            </div>
            <div class="call-section" style="padding-top: 15px">
              <img class="location-image" src="https://img.icons8.com/ios/25/102c2c/marker--v1.png">
              <p style="padding-left: 5px">
                CHENNAI – BANGALORE HIGHWAY,VELLORE, TAMIL NADU - 632 509.
              </p>
              <br>
            </div>
          </div>
          <div class="social-media">
            <a class="social-media-icons" href="https://www.instagram.com/_the_electronics_emporium/"><img src="https://img.icons8.com/ios/40/102c2c/instagram-new--v1.png"></a>
          </div>
        </div>
		<form target="_blank" action="https://formsubmit.co/elektronix2k23@gmail.com" method="POST" class="right-side-contact side-contact">
          <div class="main-div">
            <input id="name" class=" form-control input-class" type="text" name="name" placeholder="Enter your Name*" required="">
            <input id="email" class="form-control input-class" type="email" name="email" placeholder="Email Address*" required="">
            <textarea id="message" class="form-control input-class-textarea" name="message" placeholder="How can we Help you?"></textarea>

            <button type="submit" class="button-btn">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <footer style="bottom: 0%; position: relative;">
			<div class="footer-div">
				<div class="footmenu">
					<a href="../../home.html">Home</a>
					<a href="../views/events.html">Events</a>
					<a href="../views/about.html">About</a>
					<a href="../views/gallery.html">Gallery</a>
					<a href="../views/contact.html">Contact&nbsp;Us</a>
				</div>
				<p>© Electronix'23 - ALL RIGHTS RESERVED</p>
			</div>
		</footer>
    <script src="../js/nav.js"></script>
  

</body></html>