<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/events.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="shortcut icon" href="../assets/student-logo.png">
    <title>Electronix'23 | Events</title>
  </head>

  <body>
    <nav class="nav-container">
      <div class="logo-container">
        <a href="/"><img src="../assets/Global_logo.png" alt=""></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link">
          <a class="nav-link-a" href="../../home.html"><button class="button-nav">Home</button></a>
        </li>
        <li class="nav-link">
         <a class="nav-link-a" href="#events"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="#events"><button class="button-nav">Events</button></a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="./about.html"><button class="button-nav">About</button></a>
        </li>

        <li class="nav-link">
          <a class="nav-link-a" href="./contact.html"><button class="button-nav">Contact Us</button></a>
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>
 <section class="section-container">
      <img class="hero-img" src="../assets/hero-index.jpg" alt="">
      <h1 class="headingTag">Events</h1>
    <div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         TECHNICAL EVENTS
        </div>

         <div class="card">
            <button class="button000 card_hov" onclick="window.location.href='./technical-events.html'">
              KNOW MORE
            </button>
          </div>
      </a>
    </div>

  <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         NON-TECHNICAL EVENTS
        </div>

         <div class="card">
            <button class="button000 card_hov" onclick="window.location.href='./non-technical-events.html'">
              KNOW MORE
            </button>
          </div>
      </a>
    </div>

<div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         WORKSHOPS
        </div>

         <div class="card">
            <button class="button000 card_hov" onclick="window.location.href='./wokshop.html'">
              KNOW MORE
            </button>
          </div>
      </a>
    </div>
<div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         FUN GAMES
        </div>

         <div class="card">
            <button class="button000 card_hov" onclick="window.location.href='./fun-games.html'">
              KNOW MORE
            </button>
          </div>
      </a>
    </div>
  </div>
</div>
</section>
    <footer>
			<div class="footer-div">
				<div class="footmenu">
					<a href="../../home.html">Home</a>
					<a href="./events.html">Events</a>
					<a href="./about.html">About</a>
					<a href="./gallery.html">Gallery</a>
					<a href="./contact.html">Contact&nbsp;Us</a>
				</div>
				<div class="socials">
					<a target="_blank" href="https://www.instagram.com/_the_electronics_emporium/">
						<img src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png">
					</a>
					
				</div>
				<p>© Electronix'23 - ALL RIGHTS RESERVED</p>
			</div>
		</footer>

    <script src="./js/nav.js"></script>
  

</body></html>