<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/technical-events.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="shortcut icon" href="../assets/student-logo.png">
    <title>Electronix'23 | Non Technical Events</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Electronix'23 | Non Technical Events</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/"><img src="../assets/Global_logo.png" alt=""></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link">
          <a class="nav-link-a" href="../../home.html"><button class="button-nav">Home</button></a>
        </li>
        <li class="nav-link">
      <a class="nav-link-a" href="../views/events.html"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
           <a class="nav-link-a" href="../views/events.html"><button class="button-nav">Events</button></a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="../views/about.html"><button class="button-nav">About</button></a>
        </li>

        <li class="nav-link">
          <a class="nav-link-a" href="../views/contact.html"><button class="button-nav">Contact Us</button></a>
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="section-container">
      <img class="hero-img" src="../assets/hero-index.jpg" alt="">
      <h1 class="headingTag">NON TECHNICAL EVENTS</h1>
     <div class="card-main-div">
        <div class="card-div">
          <span class="animation-card-1">
            <h1>WHATSAPP <br> SCAVENGER</h1>
          </span>
          <div class="card">
            <button class="button button1">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-1">
            <h1>PUBG/FREE <br> FIRE</h1>
          </span>
          <div class="card">
            <button class="button button4">Know More</button>
          </div>
        </div>
      
        <div class="card-div">
          <span class="animation-card-3">
            <h1>VALORANT</h1>
          </span>
          <div class="card">
            <button class="button button3">Know More</button>
          </div>
        </div>
      </div>
      <div class="pop-up-div" style="display: none;">
        <div class="pop-up-container">
    <div class="pop-up-card">
    <h1 class="heading-pop-up">TECH QUIZ</h1>
        <span class="pop-up-close" onclick="closeTag()">×</span>
        <h1>Description</h1>
        <p style="width: 75%;">Demonstrate your technical abilities to become the all-time prodigy of tech quizzes.
        </p> <br>
            <div><button class="button-js-1 btn" onclick="window.location.href='/views/customary-rules.html'">GENERAL RULES</button><br><br>Before going ahead, Find the general rules attatched above</div>
            
            
        <div class="pop-up-text">
        <h4 style="color:#FFD700;;">Event  &nbsp;coordinator &nbsp; &nbsp;: &nbsp; &nbsp; MADHESH
        </h4>
        <h4 style="color:#FFD700;;">Contact &nbsp; No &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  : &nbsp; &nbsp; <button class="button-js-call" onclick="window.location.href='tel:+916380658862'">+91 6380658862        </button></h4>
        <br>
        
        <br>
      
        

            <h1>EVENT RULES &amp; REGULATIONS</h1>
            <ul>
<li>All participants must have their college Identification cards to be eligible for the event.</li>
<li>Registration prior to the day of the event is required to ensure participation.</li>
<li>A team of 2 participants are only permitted to take part.</li>
<li>The decision of the panel will be considered as final.</li>
<li>The quiz will constitute questions from core Mechanical field, Latest Science &amp; Technology and Practical knowledge.</li>
<li>Participants will go through two rounds with bonus questions on their way to the finale round which will be a showdown between the top two teams.</li>
</ul>
            
            
            <div class="button-js-div"><button class="button-js-2 btn" onclick="window.location.href='https://forms.gle/hVsSVda7ts4XvrqB6'">Register now</button>
            <button class="button-js btn" onclick="window.location.href='/views/events.html'">Back to events</button></div>            
        </div>
    </div>
    </div>
      </div>
    </section>

    <footer>
			<div class="footer-div">
				<div class="footmenu">
					<a href="../../home.html">Home</a>
					<a href="../views/events.html">Events</a>
					<a href="../views/about.html">About</a>
					<a href="../views/gallery.html">Gallery</a>
					<a href="../views/contact.html">Contact&nbsp;Us</a>
				</div>
				<div class="socials">
					<a target="_blank" href="https://www.instagram.com/_the_electronics_emporium/">
						<img src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png">
					</a>
					
				</div>
				<p>© Electronix'23 - ALL RIGHTS RESERVED</p>
			</div>
		</footer>

    <script src="../js/non-technical.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/customary-rules.js"></script>
  

</body></html>