<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/venue.css">
    <link rel="shortcut icon" href="../assets/Global_logo.png">
    <title>Venue | Electronix'23</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/"><img src="../assets/Global_logo.png" alt=""></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link">
          <a class="nav-link-a" href="../../home.html"><button class="button-nav">Home</button></a>
        </li>
        <li class="nav-link">
      <a class="nav-link-a" href="../views/events.html"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
           <a class="nav-link-a" href="../views/events.html"><button class="button-nav">Events</button></a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="../views/about.html"><button class="button-nav">About</button></a>
        </li>

        <li class="nav-link">
          <a class="nav-link-a" href="/views/contact"><button class="button-nav">Contact Us</button></a>
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>
    
    <div class="main-section-div">
        <h1>VENUE</h1>
      <div>
        <div class="eve-button button1" href="">
          <button>Technical</button>
        </div>

        <div class="eve-button button2" href="">
          <button>Non-Technical</button>
        </div>

        <div class="eve-button button3" href="">
          <button>Workshops</button>
        </div>
      </div>
      
    </div>
    <div class="pop-up-div" style="display: none;">
        <div class="pop-up-container">
    <div class="pop-up-card">
        <h1 class="heading-pop-up">TECHNICAL EVENTS</h1>
        <span class="pop-up-close" onclick="closeTag()">×</span>
        <table>
  <thead>
    <tr>
      <th>S.no</th>
      <th>Event Name</th>
      <th>Venue</th>
      <th>Timing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-column="S.no">1</td>
      <td data-column="Event Name">TECH QUIZ </td>
      <td data-column="Venue">OOPS LAB</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">2</td>
      <td data-column="Event Name">CAD</td>
      <td data-column="Venue">IOT</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">3</td>
      <td data-column="Event Name">CAM</td>
      <td data-column="Venue">IOT</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">4</td>
      <td data-column="Event Name">PAPER PRESENTATION</td>
      <td data-column="Venue">T3,T4</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">5</td>
      <td data-column="Event Name">WATER ROCKETRY</td>
      <td data-column="Venue">GROUND</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">6</td>
      <td data-column="Event Name">MR MACHINIST</td>
      <td data-column="Venue">MT LAB</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">7</td>
      <td data-column="Event Name">CYCLE ASSEMBLY</td>
      <td data-column="Venue">THERMAL LAB</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">8</td>
      <td data-column="Event Name">TECH PUZZLE</td>
      <td data-column="Venue">SOM LAB</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">9</td>
      <td data-column="Event Name">PROJECT PRESENTATION</td>
      <td data-column="Venue">F8</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
    <tr>
      <td data-column="S.no">10</td>
      <td data-column="Event Name">FINDERS KEEPER</td>
      <td data-column="Venue">DOM LAB</td>
      <td data-column="Timing">10:30 T0 2:30</td>
    </tr>
  </tbody>
</table>
    </div>
    </div>
      </div>
    <footer>
      <div class="footer-div">
        <div class="footmenu">
          <a href="../../home.html">Home</a>
					<a href="../views/events.html">Events</a>
					<a href="../views/about.html">About</a>
					<a href="../views/gallery">Gallery</a>
					<a href="../views/team">Team</a>
					<a href="../views/contact">Contact&nbsp;Us</a>
        </div>
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png">
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"><img src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png">
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png">
          </a>
        </div>
        <p>© Electronix'23 - ALL RIGHTS RESERVED</p>
      </div>
    </footer>
    <script src="../public/js/nav.js"></script>
    <script src="../public/js/venue.js"></script>
  

</body></html>