* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    
    color: var(--font-color);
    
    font-family: "Poppins";
}
.hero-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%);
  }

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins";
    position: relative;
    padding: 1rem 0 3rem 0;
    color: rgb(255, 255, 255);
}

.section-container .hero-img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.headingTag {
    font-size: 3rem;
    font-weight: bold;
    color: #FFD700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 0.2rem;
}

.card-main-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 2px 2px 2px #212121;
}

.card-div {
    position: relative;
    width: 18rem;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    padding: 1%;
    margin: 5%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.card-div:hover{
    background: rgba(0, 0, 0, 0.771);
    
}


.animation-card-1 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-1 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-2 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-2 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-3 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-3 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-4 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-4 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-5 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-5 {
    top: -25%;
    border-radius: 5px;
}
.animation-card-6 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-6 {
    top: -25%;
    border-radius: 5px;
}
.animation-card-7 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-7 {
    top: -25%;
    border-radius: 5px;
}
.animation-card-8 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-8 {
    top: -25%;
    border-radius: 5px;
}
.animation-card-9 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-9 {
    top: -25%;
    border-radius: 5px;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 130px;
    height: 40px;
    margin-top: 185px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #FFD700;
    box-shadow: 0px 15px 20px #FFD70044;
    color: black;
    font-weight: bold;
    transform: translateY(-7px);
}
.button-js-div{
    margin-top: 30px;
    height: max-content; 
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.button-js{
    width: 180px;
    height: 45px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #ffffff;
    font-weight: bolder;
    background-color: #393939;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.button-js:hover {
    background-color: #ff0000;
    box-shadow: 0px 15px 20px #ff00004a;
    color: #000000;
    font-weight: bold;
    transform: translateY(-7px);
}
.button-js-2{
    width: 180px;
    height: 45px;
   
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    font-weight: bolder;
    background-color: #393939;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.button-js-2:hover {
    background-color: #00ff26;
    box-shadow: 0px 15px 20px #00ff264d;
    color: #000000;
    font-weight: bold;
    transform: translateY(-7px);
}
.button-js-1{
    width: 170px;
    height: 45px;
    top: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    font-weight: bold;
    background-color: #FFD700;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.button-js-1:hover {
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.095);
    color: #FFD700;;
    font-weight: bold;
    transform: translateY(-7px);
    
}
.button-js-call{
    width: max-content;
    height: 45px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFD700;;
    font-weight: bold;
    background-color: #ffd90000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;     
}
.button-js-call:hover{
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.095);
    color: #ffffff;
    font-weight: bold;
    transform: translateY(-7px);
}

/* pop-up */

.pop-up-div {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: scroll;
}

.pop-up-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.926);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.pop-up-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    justify-content: start;
}

.pop-up-card::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.pop-up-text {
    position: relative;
    font-family: "Poppins";
    color: white;
    margin: 2rem 0;
    text-align: left;
    width: 75%;
}

.heading-pop-up {
    font-family: "Poppins";
    font-size: 2rem;
    color: #FFD700;
    text-shadow: 0 0 0.2rem #FFD700;
    margin-top: 6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.pop-up-close {
    position: absolute;
    right: 5%;
    top: 15%;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 30px;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


@media (max-width: 425px) {
    
    
}
@media (max-width: 425px) {
   
    
    
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins";
    position: relative;
    padding: 1rem 0 3rem 0;
    color: rgb(255, 255, 255);
    
}

.section-container .hero-img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
	filter: brightness(27%);
    
}


.headingTag {
    font-size: 3rem;
    font-weight: bold;
    color: #FFD700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 0.2rem #FFD700;
}

.card-main-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 2px 2px 2px #212121;
}

.card-div {
    position: relative;
    width: 18rem;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F336C;
    padding: 1%;
    margin: 5%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.card-div:hover{
    background: rgba(0, 0, 0, 0.771);
}

.animation-card-1 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-1 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-2 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-2 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-3 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-3 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-4 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
      color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-4 {
    top: -25%;
    border-radius: 5px;
}

.animation-card-5 {
    width: 100%;
    height: 90%;
    z-index: 10;
    position: absolute;
    color: #FFD700;
    object-fit: cover;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card-div:hover .animation-card-5 {
    top: -25%;
    border-radius: 5px;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    color: #FFD700;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.wrap0 {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
.button000 {
	margin-top: 185px;
	width: 130px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bolder;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
.button000:hover {
	background-color: #FFD700;
	box-shadow: 0px 15px 20px #FFD70044;
	color: black;
	transform: translateY(-7px);
  }

/* pop-up */

.pop-up-div {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: scroll;
    z-index: 6000;
}

.pop-up-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.pop-up-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    justify-content: start;
}

.pop-up-card::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.pop-up-text {
    position: relative;
    font-family: "Poppins";
    color: white;
    margin: 2rem 0;
    width: 75%;
    text-align: left;
}

.heading-pop-up {
    font-family: "Poppins";
    font-size: 2rem;
    color: rgb(4, 183, 207);
    text-shadow: 0 0 0.5rem rgb(4, 183, 207);
    margin: 2rem 0;
    text-align: center;
}

.pop-up-close {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 30px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@media (max-width: 400px) {
    .headingTag {
        font-size: 2rem;
        width: 75%;
    }
    .btn {
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .heading-pop-up {
        width: 75%;
        text-align: center;
    }
}

/* home */
/* events */
/* register */
/* contact */
/* guidelines */
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}
.card {
    width: 100%;
    height: 100%;
    display: flex;
    color: #FFD700;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button000 {
	margin-top: -15px;
	width: 130px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bolder;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  z-index: 2;
}
.button000:hover {
	background-color: #FFD700;
	box-shadow: 0px 15px 20px #FFD70044;
	color: black;
	transform: translateY(-7px);
  }

body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}
.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(25.33333% - 20px);
    margin: 67px 45px 90px;
    overflow: hidden;
    border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 80px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 27px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #1F336C;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #1F336C;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #1F336C;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #1F336C;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #1F336C;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #1F336C;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}